src/SubRefactor.Domain/obj
src/
SubRefactor.Domain/bin


src/SubRefactor.Library/obj
src/
SubRefactor.Library/bin

src/
src/SubRefactor.Library.Test/obj
src/
SubRefactor.Library.Test/bin


src/SubRefactor.Services/obj
src/
SubRefactor.Services/bin


src/SubRefactor.Web/obj
src/
SubRefactor.Web/bin
src/

SubRefactor.Web.Tests/obj

src/SubRefactor.Web.Tests/bin


src/SubRefactor.suo
src/SubRefactor.sln.docstates
src/
TestResults