@using SubRefactor.Domain
@helper SubtitleLoadHelper(string subtitleLoadAction)
    {             

    <div id="dialog-form" class="dialog-form" title="Load subtitle">
        <p class="validateTips">
            Load your subtitle before continue</p>
        <form id="subtitle-load-form" enctype="multipart/form-data" action="/Subtitle/@subtitleLoadAction" method="post">
        <label for="name">
            Subtitle</label>
        <input type="file" id="file" name="file" />
        </form>
    </div>
				    
    <script type="text/javascript" language="javascript">
        $("#dialog-form").dialog({
            autoOpen: true,
            resizable: false,
            height: 200,
            width: 370,
            modal: true,            
            dialogClass: "dialog",
            buttons: {
                "Load": function () {
                    var bValid = true;
                    $("#file").removeClass("ui-state-error");
                    bValid = checkFileExtension();
                    if (bValid) {
                        $("form#subtitle-load-form").submit();
                    }
                }
            },
            close: function () {
                window.location = "/Home/Index";
            }
        });

        function updateTips(t) {
            $(".validateTips")
				.text(t)
				.addClass("ui-state-highlight");

            setTimeout(function () {
                $(".validateTips").removeClass("ui-state-highlight");
            }, 1500);
        }

        function checkFileExtension() {
            var fileInput = $("#file");
            var fileName = fileInput.val();
            var extension = fileName.split('.').pop();
            if (extension != "srt") {
                fileInput.addClass("ui-state-error");
                updateTips("Sorry, we current only suport .srt files");
                return false;
            } else {
                return true;
            }
        }

        $("#dialog-form").dialog();
    </script>
		
    <style>
        .validateTips
        {
            font-family: 'Josefin Sans', sans-serif;
            padding: 0.3em;
            margin-bottom: 20px;
            font-size: medium;
        }
        .dialog-form
        {
            font-family: 'Josefin Sans', sans-serif;
        }
    </style>
}