@using SubRefactor.Domain
@helper EditQuotes(IList<Quote> quotes)
    {
    <table>
        <thead>
            <tr>
                <th>
                    Index
                </th>
                <th>
                    Quote
                </th>
                <th>
                    Begin time line
                </th>
                <th>
                    End time line
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var quote in quotes)
            {
                <tr>
                    <td>
                        @quote.Index
                    </td>
                    <td>
                        <input type="text" value="@quote.QuoteLine" />
                    </td>
                    <td>
                        <input type="text" value="@quote.BeginTimeLine" />
                    </td>
                    <td>
                        <input type="text" value="@quote.EndTimeLine" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
