@model IList<SubRefactor.Domain.Quote>
<table>
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                Quote
            </th>
            <th>
                Begin time line
            </th>
            <th>
                End time line
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model)
        {

            <tr>
                <td>
                    @quote.Index
                </td>
                <td>
                    <input type="text" value="@quote.QuoteLine" />
                </td>
                <td>
                    <input type="text" value="@quote.BeginTimeLine" />
                </td>
                <td>
                    <input type="text" value="@quote.EndTimeLine" />
                </td>
            </tr>
        }
    </tbody>
</table>
