@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layouts/_HomeLayout.cshtml";
}

<div class="about">
If you didn't find a subtitle to a specific release that you have in your computer 
and the only subtitle that you found the quotes aren't synchronized to the audio of the relase or
you didn't find any of your language, this app has the solution for you.
</div>
