@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layouts/_HomeLayout.cshtml";
}
<div class="home-menu">
    <a href="@Url.Content("~/Subtitle/Synchronize")" class="button">
        <img src="../../Content/themes/base/images/sync-button-icon.png" alt="" />
        <br />
        Synchronize </a><a href="@Url.Content("~/Subtitle/Translate")">
            <img src="../../Content/themes/base/images/translate-button-icon.png" alt="" />
            <br />
            Translate </a><a href="@Url.Content("~/Subtitle/Edit")">
                <img src="../../Content/themes/base/images/edit-button-icon.png" alt="" />
                <br />
                Edit </a>
</div>
