/*----------------------------------------------------------
The base color for this template is #93B4D5. If you'd like
to use a different color start by replacing all instances of
#93B4D5 with your new color.
----------------------------------------------------------*/
body
{
    background-color: #93B4D5;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#footer
{
    color: #999;
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

#footer a
{
    color: #737B83;
    text-decoration: none;
    font-size: small;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* 
----------------------------------------------------------*/

.bigger-banner
{
    background: url("../../Content/themes/base/images/bigger-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #93B4D5;
    height: 570px;
}

.menu
{
    text-align: center;
}

.menu a
{
    display:inline-block;
    text-decoration: none;
    color: White;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0px 10px 0px 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.menu img
{
    border-style: none;
    position: static;
}

.menu a:hover
{
    color: #AC6363;
}